﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterHomepage.Master" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="SIK_NEW.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TopPage" runat="server">
    <form runat="server">
    <div class="form-group">
        <label for="exampleInputTGLTerima">Tanggal Terima</label>
        <br />
        <asp:TextBox ID="iTestInput" runat="server" ClientIDMode="Static"></asp:TextBox>
    </div>
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
    </form>
    
    <%--js untuk datetimepicker--%>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.datetimepicker.full.min.js"></script>

    
    <script>
        jQuery("#iTestInput").datetimepicker();
    </script>



</asp:Content>
